@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root  {
    --background: 39 0% 100%;
    --foreground: 39 0% 10%;
    --card: 39 0% 100%;
    --card-foreground: 39 0% 15%;
    --popover: 39 0% 100%;
    --popover-foreground: 39 95% 10%;
    --primary: 39 93.3% 64.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 39 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 1 10% 95%;
    --muted-foreground: 39 0% 40%;
    --accent: 1 10% 90%;
    --accent-foreground: 39 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 39 0% 100%;
    --border: 39 20% 82%;
    --input: 39 20% 50%;
    --ring: 39 93.3% 64.9%;
    --radius: 12px;
  }
  .dark  {
    --background: 39 10% 10%;
    --foreground: 39 0% 100%;
    --card: 39 0% 10%;
    --card-foreground: 39 0% 100%;
    --popover: 39 10% 5%;
    --popover-foreground: 39 0% 100%;
    --primary: 39 93.3% 64.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 39 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 1 10% 25%;
    --muted-foreground: 39 0% 65%;
    --accent: 1 10% 25%;
    --accent-foreground: 39 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 39 0% 100%;
    --border: 39 20% 50%;
    --input: 39 20% 50%;
    --ring: 39 93.3% 64.9%;
    --radius: 12px;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
